header{
    background-color: $header-background;
    
    &.home{
        background-color: transparent;
    }

    .header-row{
        padding-top: 20px;
        padding-bottom: 20px;

        .logo-box{
            z-index: 1;
            .title-logo{
                width: 250px;
                @media(max-width: 991px){
                    width: 200px;
                }
            }
        }


        .navigation{
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            a{
                z-index: 1;
                margin-left: 25px;
                color: #ffffff;
                font-weight: 700;
                font-size: 16px;
                text-transform: uppercase;
                letter-spacing: 2px;
                text-decoration: none;

                &.active{
                    border-bottom: 2px solid #ffffff;
                }
            }
            @media(max-width: 991px){
                display: none;
            }
        }

        .mobile{
            svg{
                fill: #ffffff;
                opacity: 1;
                &:hover{
                    opacity: 1;
                    fill: #ffffff;
                }
            }
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            .close{
                display: none;
                z-index: 2;
            }
            .burger{
                z-index: 2;
            }
            display: none;
            @media(max-width: 991px){
                display: flex;
            }
        }
    }

    .hover-nav{
        background-color: $header-background;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        a{
            z-index: 1;
            margin-top: 10px;
            color: #ffffff;
            font-weight: 700;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-decoration: none;

            &.active{
                border-bottom: 2px solid #ffffff;
            }
        }
        display: none;
        @media(min-width: 991px){
            display: none !important;
        }
    }
}