header{
    background-color: $header-background;
    
    &.home{
        background-color: transparent;
    }

    .header-row{
        padding-top: 20px;
        padding-bottom: 20px;

        .title-logo{
            width: 250px;
        }

        .navigation{
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            a{
                z-index: 1;
                margin-left: 25px;
                color: #ffffff;
                font-weight: 700;
                font-size: 18px;
                text-transform: uppercase;
                letter-spacing: 2px;
                text-decoration: none;

                &.active{
                    border-bottom: 2px solid #ffffff;
                }
            }
        }
    }
}